<div class="container">
    <div class="row mt-5">
        <p><a [routerLink]="['/menu']">Portal</a> > Actualizar Archivos</p>
    </div>
    <div class="mt-5">
        <form class="row" [formGroup]="operadorForm">
            <div class="col-md-6">
                <div class="form-group">
                    <small id="clienteError"
                        *ngIf="this.operadorForm.controls['cliente'].invalid && this.operadorForm.controls['cliente'].touched"
                        class="form-text text-muted error">
                        Selecciona una opcion
                    </small>
                    <div class="input-group mb-4 d-flex align-items-center">
                        <label for="cliente" class="mr-2">Cliente*: </label>
                        <select class="form-control" id="cliente" formControlName="cliente">
                            <option value="">Seleccione un cliente</option>
                            <option value="">Todos</option>
                            <option *ngFor="let cliente of clientes" [value]="cliente.email">{{ cliente.nombreContacto }}</option>
                        </select>
                    </div>
                    <small id="clienteError"
                        *ngIf="this.operadorForm.controls['periodo'].invalid && this.operadorForm.controls['periodo'].touched"
                        class="form-text text-muted error">
                        Selecciona una opcion
                    </small>
                    <div class="input-group mb-4 d-flex align-items-center">
                        <label for="periodo" class="mr-2">Periodo*: </label>
                        <select class="form-control" id="periodo" formControlName="periodo">
                            <option value="">Seleccione un periodo</option>
                            <option *ngFor="let year of years; let i = index" [value]="2021 - i">{{ 2021 - i }}</option>
                        </select>
                    </div>
                    <small id="clienteError"
                        *ngIf="this.operadorForm.controls['nombre'].invalid && this.operadorForm.controls['nombre'].touched"
                        class="form-text text-muted error">
                        Agregue un nombre
                    </small>
                    <div class="input-group mb-4 d-flex align-items-center">
                        <label for="nombre" class="mr-2">Nombre*: </label>
                        <input type="text" class="form-control" formControlName="nombre">
                    </div>
                    <small id="clienteError"
                        *ngIf="this.operadorForm.controls['categoria'].invalid && this.operadorForm.controls['categoria'].touched"
                        class="form-text text-muted error">
                        Agregue una categoria
                    </small>
                    <div class="input-group mb-4 d-flex align-items-center">
                        <label for="categoria" class="mr-2">Categoría*: </label>
                        <input type="text" class="form-control" formControlName="categoria">
                    </div>
                    
                </div>
            </div>

            <div class="col-12 d-flex justify-content-center mt-5">
                <button class="btn btn-info mr-3" (click)="sendInfo()"
                    [disabled]="this.operadorForm.invalid">Cargar archivo</button>
                <button class="btn btn-danger" [routerLink]="['/operador']">Cancelar</button>
            </div>
        </form>
    </div>
</div>