p {
    margin-top: 50px;
    font-size: 18px;
    color: #272727;
    font-weight: bold;
}

label {
    width: 60px;
}

.search {
    width: 100px;
}

.conta {
    cursor: pointer;
    text-decoration: underline;
}