<div class="container">
    <div class="row mt-5">
        <p><a [routerLink]="['/menu']">Portal</a> > <a [routerLink]="['/operador']">Operador</a> > Cargar Archivos</p>
    </div>
    <div class="mt-5">
        <form class="row" [formGroup]="operadorForm">
            <div class="col-md-6">
                <div class="form-group">
                    <small id="clienteError"
                        *ngIf="this.operadorForm.controls['cliente'].invalid && this.operadorForm.controls['cliente'].touched"
                        class="form-text text-muted error">
                        Selecciona una opcion
                    </small>
                    <div class="input-group mb-4 d-flex align-items-center">
                        <label for="cliente" class="mr-2">Cliente*: </label>
                        <select class="form-control" id="cliente" formControlName="cliente">
                            <option value="">Seleccione un cliente</option>
                            <option value="volvo">Todos</option>
                            <option *ngFor="let cliente of clientes" [value]="cliente.email">{{ cliente.nombreContacto }}</option>
                        </select>
                    </div>
                    <small id="clienteError"
                        *ngIf="this.operadorForm.controls['periodo'].invalid && this.operadorForm.controls['periodo'].touched"
                        class="form-text text-muted error">
                        Selecciona una opcion
                    </small>
                    <div class="input-group mb-4 d-flex align-items-center">
                        <label for="periodo" class="mr-2">Periodo*: </label>
                        <select class="form-control" id="periodo" formControlName="periodo">
                            <option value="">Seleccione un periodo</option>
                            <option *ngFor="let year of years; let i = index" [value]="2021 - i">{{ 2021 - i }}</option>
                        </select>
                    </div>
                    <small id="clienteError"
                        *ngIf="this.operadorForm.controls['tipoDoc'].invalid && this.operadorForm.controls['tipoDoc'].touched"
                        class="form-text text-muted error">
                        Selecciona una opcion
                    </small>
                    <div class="input-group mb-4 d-flex align-items-center">
                        <label for="tipoDoc" class="mr-2">Tipo de documento*: </label>
                        <select class="form-control" id="tipoDoc" formControlName="tipoDoc">
                            <option value="">Seleccione un tipo de documento</option>
                            <option value="pdf">PDF</option>
                            <option value="xml">XML</option>
                            <option value="xls">XLS</option>
                            <option value="rar">RAR</option>
                            <option value="zip">ZIP</option>
                            <option value="doc">DOC</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                    <ngx-dropzone-label>Arrastralo aquí o da click</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
            <div class="col-12 d-flex justify-content-center mt-5">
                <button class="btn btn-info mr-3" (click)="sendInfo()"
                    [disabled]="this.operadorForm.invalid || this.files.length == 0">Cargar archivo</button>
                <button class="btn btn-danger" [routerLink]="['/operador']">Cancelar</button>
            </div>
        </form>
    </div>
</div>