<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center align-items-center boton">
            <p>Nóminas</p>
        </div>
        <div class="d-flex justify-content-center align-items-center boton">
            <p>Contabilidad</p>
        </div>
        <div class="d-flex justify-content-center align-items-center boton">
            <p>Impuestos</p>
        </div>
        <div class="d-flex justify-content-center align-items-center boton">
            <p>Documentación</p>
        </div>
    </div>
</div>